@model OOTTracker.Models.Playthroughs.EditPlaythroughProgressViewModel
@{
    Layout = "_Layout";
}
@section HeaderContent {
            Edit Playthrough Progress - @Model.Name
}

<script>
    function updateAvailableChecks(id) {
        $.ajax({
            url: `/Playthroughs/LoadAvailableChecks/${id}`,
            type: 'GET',
            success: function(result) {
                $('#availableChecks').html(result)
            }
        })
        console.log('test')
    }
    function updateEquipmentProgress(e) {
        $.ajax({
            url: '/Playthroughs/UpdateEquipmentProgress',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                playthroughId: '@Context.GetRouteValue("id")',
                equipmentId: $(e).attr('data-equipment-id'),
                equipmentObtained: $(e).is(':checked')
            }),
            success: function () {
                updateAvailableChecks('@Context.GetRouteValue("id")')
            }
        })
    }


    $(document).ready(() => {
        $('[data-equipment-id]').change(function() {
            updateEquipmentProgress(this)
        })
    })
</script>

<form method="post">
    <div class="item-checks-tabs">
        <ul class="nav nav-tabs" id="itemChecksTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="equipment-tab" data-bs-toggle="tab" data-bs-target="#equipment" type="button" role="tab" aria-controls="equipment" aria-selected="true">Equipment</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="available-checks-tab" data-bs-toggle="tab" data-bs-target="#availableChecks" type="button" role="tab" aria-controls="availableChecks" aria-selected="false">Available Item Checks</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="all-checks-tab" data-bs-toggle="tab" data-bs-target="#allChecks" type="button" role="tab" aria-controls="allChecks" aria-selected="true">All Item Checks</button>
            </li>
        </ul>
        <div class="tab-content" id="itemChecksTabsContent">
            <div id="equipment" class="tab-pane fade show active" role="tabpanel" aria-labelledby="equipmentTab">
                @if (Model.Equipment != null)
                {
                    <div class="row mt-3">
                        @for (var i = 0; i < Model.Equipment.Count; i++)
                        {
                            var equipmentItem = Model.Equipment[i];

                            <div class="col-lg-12">
                                <div class="accordion mt-3" id="@($"equipmentAccordion{i}")">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="@($"category{i}Header")">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="@($"#category{i}")" aria-expanded="false" aria-controls="@($"location{i}")">
                                                @equipmentItem.Category
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="@($"category{i}")" class="accordion-collapse" aria-labelledby="@($"category{i}Header")" data-bs-parent="@($"#equipmentAccordion{i}")">
                                        @if (equipmentItem.Equipment != null)
                                        {
                                            <div class="accordion-body">
                                                <div class="row">
                                                    @foreach (var equipment in equipmentItem.Equipment)
                                                    {
                                                        <div class="col-1 col-sm-1 mb-3">
                                                            <div class="card text-center" style="font-size: 0.9em;">
                                                                <div class="card-body">
                                                                    <i class="bi bi-shield"></i>
                                                                    <p action="card-text mt-2">@equipment.Name</p>
                                                                    <input asp-for="@equipment.Obtained" data-equipment-id="@equipment.Id" type="checkbox" class="form-check-input" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>

            <div id="availableChecks" class="tab-pane fade" role="tabpanel" aria-labelledby="available-checks-tab">
                @await Html.PartialAsync("_AvailableChecksPartial", Model)
            </div>
            <div class="tab-pane fade" id="allChecks" role="tabpanel" aria-labelledby="all-checks-tab">
                @if (Model.LocationItemChecksAll != null)
                {
                    <div class="row">
                        @for (var i = 0; i < Model.LocationItemChecksAll.Count; i++)
                        {
                            var itemCheckLocation = Model.LocationItemChecksAll[i];

                            <div class="col-lg-4">
                                <div class="accordion mt-3" id="@($"allItemChecksAccordion{i}")">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="@($"location{i}Header")">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@($"#location{i}")" aria-expanded="false" aria-controls="@($"location{i}")">
                                                @itemCheckLocation.LocationName
                                            </button>
                                        </h2>
                                        <div id="@($"location{i}")" class="accordion-collapse collapse" aria-labelledby="@($"location{i}Header")" data-bs-parent="@($"#allItemChecksAccordion{i}")">
                                            @if (itemCheckLocation.ItemChecks != null)
                                            {
                                                <div class="accordion-body">
                                                    @foreach (var itemCheck in itemCheckLocation.ItemChecks)
                                                    {
                                                        <div action="d-flex align-items-center mb-2">
                                                            <input type="checkbox" class="form-check-input me-2" />
                                                            <span class="me-2">@itemCheck.Description</span>
                                                            <i class="bi bi-box-seam me-2" title="@itemCheck.CheckType"></i>
                                                            <i class="bi bi-person" title="@itemCheck.Description"></i>
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                }

            </div>

        </div>
    </div>
</form>
