@model OOTTracker.Models.Playthroughs.PlaythroughsIndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
@section HeaderContent {
    Playthroughs
}

@if (Model.Playthroughs != null)
{
    <div class="playthrough-list">
        @foreach (var playthrough in Model.Playthroughs)
        {

            <div class="card p-3 mb-4 position-relative">
                <a asp-action="EditProgress" asp-route-id="@playthrough.Id" class="stretched-link"></a>
                <div class="card-body">
                    <h5 class="card-title">@playthrough.Name</h5>
                    <div>
                        <a asp-action="Edit" asp-route-id="@playthrough.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="EditProgress" asp-route-id="@playthrough.Id" class="btn btn-primary">Edit Progress</a>
                        <a asp-action="Delete" asp-route-id="@playthrough.Id" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>

        }
    </div>
}