@model OOTTracker.Models.ItemCheckRequirements.ItemCheckRequirementsIndexModel
@{
    Layout = "_Layout";
}

<div class="header">
    <h1 class="h4">Item Check Requirements</h1>
    <div class="text-end">
        <a asp-action="Edit" class="btn btn-success">Add Requirement</a>
    </div>
</div>
<div class="table-responsive">
    <table data-toggle="table" data-pagination="true" data-page-size="10" data-search="true" class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th data-width="125">#</th>
                <th data-field="Location" data-sortable="true">Location</th>
                <th data-field="CheckType" data-sortable="true">Type</th>
                <th data-field="Equipment" data-sortable="true">Equipment</th>
                <th data-field="Description" data-sortable="true">Description</th>
                <th data-field="Actions" data-width="150">Actions</th>
            </tr>
        </thead>
        @if (Model.ItemCheckRequirements != null)
        {
            <tbody>
                @for (var i = 0; i < Model.ItemCheckRequirements.Count; i++)
                {
                    var itemCheckRequirement = Model.ItemCheckRequirements[i];
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@itemCheckRequirement.Location</td>
                        <td>@itemCheckRequirement.CheckType</td>
                        <td>@itemCheckRequirement.Equipment</td>
                        <td>@itemCheckRequirement.Description</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@itemCheckRequirement.Id" class="btn btn-primary btn-sm me-2">Edit</a>
                            <a asp-action="Delete" asp-route-id="@itemCheckRequirement.Id" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>